.about {
  padding: 100px 80px 173px;
  background-color: #0a2850;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  color: #fff;
  display: flex;
}
.about__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 80px;
  z-index: 2;
}
.about__content {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  z-index: 2;
}
.about__paragraph {
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 1;
}
